* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    background-color: black;
    font-family: 'Nunito Sans', sans-serif;
}

#image-div {
    background-color: #FFE6C9;
    width: 57%;
    height: 100vh;
}

#login-div {
    background-color: #FFFFFF;
    width: 43%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#not-registered-div {
    display: flex;
    margin-bottom: 100px;
    margin-top: 17%;
}

#not-registered-div p {
    color: #828282;
    margin-right: 10px;
}

#not-registered-div a {
    text-decoration: none;
    color: #7F265B;
}

#login-info-div {
    width: 420px;
    height: 505px;
}

#login-info-div h1{
    margin-top: 30px;
    font-weight: bold;
    font-size: 36px;
    color: #525252;
}

#login-info-div p{
    color: #525252;
    margin-bottom: 32px;
    font-size: 16px;
}

#login-with-google-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
    border: 1px solid #E8E8E8;
    height: 45px;
}

#login-with-google-div a{
    font-size: 14;
    font-weight: bold;
    text-decoration: none;
    color: #525252;
}

#sign-with-email-p-div p {
    text-align: center;
    color: #A1A1A1;
    margin: 36px 0 36px 0;
}

#sign-with-email {
    width: 420px;
    height: 266px;
}

button {
    width: 420px;
    height: 50px;
    color: #FFFFFF;
    background-color: #7F265B;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 800;
    margin-top: 32px;
}

#forgot-remember-div {
    width: 420px;
    height: 16px;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#remember-div {
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    cursor: pointer;
    accent-color: #7F265B;
}



#remember-div label {
    font-size: 12px;
    color: #A1A1A1;
    margin-left: 8px;
}


#forgot-pass-div a{
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
}

#input-fields-div {
    width: 420px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.input-group label {
    font-size: 14px;
    color: #828282;
    font-weight: 600;
}

.input-group input {
    width: 100%;
    height: 45px;
    border: 1px solid #DED2D9;
    border-radius: 5px;
}

.input-group input:focus {
    border-color: #7F265B;
    outline: none;
}


#login::placeholder {
    color: #E0E0E0;
    font-size: 14px;
}

#password::placeholder {
    color: #E0E0E0;
    font-size: 10px;
}



@media screen and (max-width: 1000px) {
    #image-div {
        display: none;
    }

    #login-div {
        width: 100%;
    }
}

#image-div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#login-info-div .logo {
    width: 72px;
    height: auto;

}